In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/house-price-tehran-iran/housePrice.csv

In [2]:
import pandas as pd
import numpy as np

In [3]:
house = pd.read_csv("../input/house-price-tehran-iran/housePrice.csv")

In [4]:
house.head()

,Area,Room,Parking,Warehouse,Elevator,Address,Price,Price(USD)
0,63,1,True,True,True,Shahran,1.850000e+09,61666.67
1,60,1,True,True,True,Shahran,1.850000e+09,61666.67
2,79,2,True,True,True,Pardis,5.500000e+08,18333.33
3,95,2,True,True,True,Shahrake Qods,9.025000e+08,30083.33
4,123,2,True,True,True,Shahrake Gharb,7.000000e+09,233333.33

In [5]:
house.drop("Price", inplace=True, axis = 1)

In [6]:
house.head()

  Area  Room  Parking  Warehouse  Elevator         Address  Price(USD)
0   63     1     True       True      True         Shahran    61666.67
1   60     1     True       True      True         Shahran    61666.67
2   79     2     True       True      True          Pardis    18333.33
3   95     2     True       True      True   Shahrake Qods    30083.33
4  123     2     True       True      True  Shahrake Gharb   233333.33

In [7]:
house["Parking"].value_counts()

True     2950
False     529
Name: Parking, dtype: int64

In [8]:

house["Parking"] = house['Parking'].astype('int')

house["Warehouse"] = house['Warehouse'].astype('int')

house["Elevator"] = house['Elevator'].astype('int')

house["Area"] = house["Area"].str.replace(',', '').astype(int)

In [9]:
house.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3479 entries, 0 to 3478
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Area        3479 non-null   int64
 1   Room        3479 non-null   int64
 2   Parking     3479 non-null   int64
 3   Warehouse   3479 non-null   int64
 4   Elevator    3479 non-null   int64
 5   Address     3456 non-null   object
 6   Price(USD)  3479 non-null   float64
dtypes: float64(1), int64(5), object(1)
memory usage: 190.4+ KB

In [10]:
house.head()

   Area  Room  Parking  Warehouse  Elevator         Address  Price(USD)
0    63     1        1          1         1         Shahran    61666.67
1    60     1        1          1         1         Shahran    61666.67
2    79     2        1          1         1          Pardis    18333.33
3    95     2        1          1         1   Shahrake Qods    30083.33
4   123     2        1          1         1  Shahrake Gharb   233333.33

In [11]:
house["Address"].unique()

array(['Shahran', 'Pardis', 'Shahrake Qods', 'Shahrake Gharb',
       'North Program Organization', 'Andisheh', 'West Ferdows Boulevard',
       'Narmak', 'Saadat Abad', 'Zafar', 'Islamshahr', 'Pirouzi',
       'Shahrake Shahid Bagheri', 'Moniriyeh', 'Velenjak', 'Amirieh',
       'Southern Janatabad', 'Salsabil', 'Zargandeh', 'Feiz Garden',
       'Water Organization', nan, 'ShahrAra', 'Gisha', 'Ray', 'Abbasabad',
       'Ostad Moein', 'Farmanieh', 'Parand', 'Punak', 'Qasr-od-Dasht',
       'Aqdasieh', 'Pakdasht', 'Railway', 'Central Janatabad',
       'East Ferdows Boulevard', 'Pakdasht KhatunAbad', 'Sattarkhan',
       'Baghestan', 'Shahryar', 'Northern Janatabad', 'Daryan No',
       'Southern Program Organization', 'Rudhen', 'West Pars', 'Afsarieh',
       'Marzdaran', 'Dorous', 'Sadeghieh', 'Chahardangeh', 'Baqershahr',
       'Jeyhoon', 'Lavizan', 'Shams Abad', 'Fatemi',
       'Keshavarz Boulevard', 'Kahrizak', 'Qarchak',
       'Northren Jamalzadeh', 'Azarbaijan', 'Bahar',
       'Persian Gulf Martyrs Lake', 'Beryanak', 'Heshmatieh',
       'Elm-o-Sanat', 'Golestan', 'Shahr-e-Ziba', 'Pasdaran',
       'Chardivari', 'Gheitarieh', 'Kamranieh', 'Gholhak', 'Heravi',
       'Hashemi', 'Dehkade Olampic', 'Damavand', 'Republic', 'Zaferanieh',
       'Qazvin Imamzadeh Hassan', 'Niavaran', 'Valiasr', 'Qalandari',
       'Amir Bahador', 'Ekhtiarieh', 'Ekbatan', 'Absard', 'Haft Tir',
       'Mahallati', 'Ozgol', 'Tajrish', 'Abazar', 'Koohsar', 'Hekmat',
       'Parastar', 'Lavasan', 'Majidieh', 'Southern Chitgar', 'Karimkhan',
       'Si Metri Ji', 'Karoon', 'Northern Chitgar', 'East Pars', 'Kook',
       'Air force', 'Sohanak', 'Komeil', 'Azadshahr', 'Zibadasht',
       'Amirabad', 'Dezashib', 'Elahieh', 'Mirdamad', 'Razi', 'Jordan',
       'Mahmoudieh', 'Shahedshahr', 'Yaftabad', 'Mehran', 'Nasim Shahr',
       'Tenant', 'Chardangeh', 'Fallah', 'Eskandari', 'Shahrakeh Naft',
       'Ajudaniye', 'Tehransar', 'Nawab', 'Yousef Abad',
       'Northern Suhrawardi', 'Villa', 'Hakimiyeh', 'Nezamabad',
       'Garden of Saba', 'Tarasht', 'Azari', 'Shahrake Apadana', 'Araj',
       'Vahidieh', 'Malard', 'Shahrake Azadi', 'Darband', 'Vanak',
       'Tehran Now', 'Darabad', 'Eram', 'Atabak', 'Sabalan', 'SabaShahr',
       'Shahrake Madaen', 'Waterfall', 'Ahang', 'Salehabad', 'Pishva',
       'Enghelab', 'Islamshahr Elahieh', 'Ray - Montazeri',
       'Firoozkooh Kuhsar', 'Ghoba', 'Mehrabad', 'Southern Suhrawardi',
       'Abuzar', 'Dolatabad', 'Hor Square', 'Taslihat', 'Kazemabad',
       'Robat Karim', 'Ray - Pilgosh', 'Ghiyamdasht', 'Telecommunication',
       'Mirza Shirazi', 'Gandhi', 'Argentina', 'Seyed Khandan',
       'Shahrake Quds', 'Safadasht', 'Khademabad Garden', 'Hassan Abad',
       'Chidz', 'Khavaran', 'Boloorsazi', 'Mehrabad River River',
       'Varamin - Beheshti', 'Shoosh', 'Thirteen November', 'Darakeh',
       'Aliabad South', 'Alborz Complex', 'Firoozkooh', 'Vahidiyeh',
       'Shadabad', 'Naziabad', 'Javadiyeh', 'Yakhchiabad'], dtype=object)

In [12]:
house.isnull().sum()

Area           0
Room           0
Parking        0
Warehouse      0
Elevator       0
Address       23
Price(USD)     0
dtype: int64

In [13]:
house.dropna(inplace=True)

In [14]:
house.isnull().sum()

Area          0
Room          0
Parking       0
Warehouse     0
Elevator      0
Address       0
Price(USD)    0
dtype: int64

In [15]:
house.shape

(3456, 7)

In [16]:
house_mapping = house["Address"].value_counts().to_dict()
house["Address"] = house["Address"].map(house_mapping)

In [17]:
house.head()

   Area  Room  Parking  Warehouse  Elevator  Address  Price(USD)
0    63     1        1          1         1      130    61666.67
1    60     1        1          1         1      130    61666.67
2    79     2        1          1         1      146    18333.33
3    95     2        1          1         1       69    30083.33
4   123     2        1          1         1       59   233333.33

In [18]:
X = house.drop("Price(USD)", axis = 1)
X

      Area  Room  Parking  Warehouse  Elevator  Address
0       63     1        1          1         1      130
1       60     1        1          1         1      130
2       79     2        1          1         1      146
3       95     2        1          1         1       69
4      123     2        1          1         1       59
...    ...   ...      ...        ...       ...      ...
3474    86     2        1          1         1       93
3475    83     2        1          1         1       68
3476    75     2        0          0         0      127
3477   105     2        1          1         1       13
3478    82     2        0          1         1      127

[3456 rows x 6 columns]

In [19]:
y = house["Price(USD)"]

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2)

In [22]:
from xgboost import XGBRegressor

In [23]:
model = XGBRegressor()

In [24]:
model.fit(X_train, y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.300000012, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=100, n_jobs=4, num_parallel_tree=1, random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=None)

In [25]:
model.predict(X_test)

array([  64113.082 ,  842464.    ,   75553.836 ,   10427.082 ,
         57874.105 ,  184026.84  ,  114117.016 ,  119733.82  ,
         41844.53  ,  127437.4   ,  592701.94  ,  173186.44  ,
        670919.    ,   86104.61  ,   86324.61  ,   69631.67  ,
         69763.55  ,  135934.14  ,  159865.77  ,  128718.35  ,
         40414.6   ,   62924.586 ,   81193.68  ,   53389.42  ,
       1717609.2   ,  120464.4   ,  310019.66  ,   64268.527 ,
        168156.39  ,   37919.97  ,   94421.08  ,   72718.32  ,
        683528.9   ,   90330.516 ,  131336.72  ,   46981.273 ,
         63465.13  ,   67440.12  ,  129348.51  ,  916556.    ,
         57133.594 ,  123639.89  ,  514274.38  ,  212458.06  ,
         21200.83  ,  427903.44  ,  109993.92  ,  250119.53  ,
        488947.6   ,  431974.38  ,   57988.94  ,   56209.047 ,
         23011.342 ,  115421.65  ,  196675.31  ,   71396.53  ,
        452562.3   ,   29700.24  ,   59977.58  ,    6277.555 ,
        219628.39  ,   58869.523 ,   51223.094 ,   68598.21  ,
         29873.793 ,   21982.275 ,   49489.684 ,  173809.03  ,
       1305703.4   ,    9611.779 ,   87879.79  ,   56318.465 ,
        448842.72  ,   56637.574 ,   68037.31  ,  211892.47  ,
        129662.75  ,  348554.88  ,   37346.14  ,   22671.814 ,
        337714.5   ,  240742.81  ,   16902.254 ,   58267.4   ,
         77405.78  ,  172029.11  ,  177031.14  ,   89263.44  ,
         91517.89  ,   93163.09  ,   25459.193 ,   31684.92  ,
         52087.76  ,  302289.97  ,   72028.445 ,   13558.035 ,
         41685.934 ,  277411.5   ,   70944.8   ,  221633.88  ,
         27024.014 ,  161521.27  ,   94823.7   ,  363770.12  ,
        135190.77  ,   93450.09  ,  759259.4   ,   32551.1   ,
         51240.47  ,  473435.22  ,   84634.04  ,   42254.582 ,
        101923.664 ,  286355.94  ,   77305.805 ,  498014.16  ,
         -4765.536 ,    5238.4946,   78687.42  ,  128740.836 ,
        189813.52  ,  213610.6   ,  147263.14  ,  135132.11  ,
         39169.625 ,  460727.56  ,  216751.78  ,   68543.09  ,
        366626.97  , 2026743.6   ,   50637.67  ,   77252.15  ,
         72032.24  , 1634611.4   ,   42204.184 ,  212787.89  ,
         30225.092 ,   15451.325 ,  109158.15  ,  348554.88  ,
         45742.516 ,   14104.087 ,  104183.17  ,  121413.06  ,
         86014.85  ,   24114.506 ,  104757.164 ,  120634.445 ,
         49511.406 ,   67810.71  ,  174813.36  ,  184795.4   ,
        165296.55  ,   46569.516 ,   45597.035 ,  166024.73  ,
         70352.805 ,   65181.168 ,  172872.14  ,   61005.01  ,
        997911.1   ,   62912.26  ,  145119.86  ,  123418.914 ,
         30116.979 ,   23011.342 ,  386297.9   ,  165189.81  ,
         81768.86  ,   97590.09  ,  411602.44  ,  146998.94  ,
         93639.234 ,  115948.03  ,   84654.42  ,   74956.33  ,
        159865.77  ,   68402.8   ,   23011.342 ,   66566.516 ,
        521303.1   ,  452562.3   ,   99541.1   ,   18301.861 ,
        506839.5   ,  112576.61  ,   43917.496 ,   15374.587 ,
         50165.195 ,   20851.016 ,   60348.95  ,  162042.22  ,
        167937.53  ,   13520.64  ,  166991.34  ,   27722.469 ,
         29112.623 ,  138841.58  ,  368676.2   ,  231363.39  ,
         31621.69  , 1335021.9   ,  475497.1   ,   78481.25  ,
        216751.78  ,  147619.27  ,   37132.773 ,  206883.27  ,
         22671.814 ,   33593.85  ,   28948.896 ,  800492.44  ,
        656105.8   ,   14247.372 ,  282421.28  ,  100334.89  ,
        153794.81  ,  226735.64  ,   83218.25  , 1474453.9   ,
        235020.61  ,  127944.64  ,  202779.33  ,   62756.9   ,
         12334.036 ,  103078.664 ,  184026.84  ,  321475.6   ,
         26993.4   ,   69763.55  ,  178430.45  ,   34118.83  ,
        219230.47  ,   82879.445 ,   64113.082 ,  363739.22  ,
        418510.03  ,  489012.53  ,  226847.27  ,   50257.05  ,
        238514.6   ,  345404.7   ,   70721.734 ,   65748.69  ,
        119690.52  ,   43994.453 ,   56713.098 ,   72028.445 ,
         23011.342 ,   90118.69  ,  223994.12  ,  151886.2   ,
        147619.27  ,   32709.988 ,  104183.17  ,   71032.2   ,
         86814.49  ,   31684.92  ,  473435.22  ,   17566.172 ,
        149713.36  ,   22753.396 ,   78481.25  ,  708691.75  ,
         41337.86  ,   94735.49  ,  266597.12  ,    9979.924 ,
         99070.63  ,   51210.746 ,   19294.092 ,  106257.92  ,
        160891.89  , 1144551.1   ,  278124.7   ,   73000.53  ,
         65762.07  ,   96377.52  ,   65050.29  ,  107717.734 ,
        351829.56  ,   12108.243 ,  184539.81  ,   41061.418 ,
         39301.395 ,   -7332.767 ,  217383.55  ,   45849.17  ,
         95480.58  ,  144825.44  ,  258143.5   ,   96736.32  ,
       1191525.5   ,  144139.34  ,   14241.561 ,  458250.12  ,
        119232.37  ,   22721.03  ,   52108.254 ,   49369.258 ,
        159532.53  ,  127278.56  ,   36358.875 ,   74341.125 ,
        364789.53  ,   33121.117 ,   22671.814 ,  206705.34  ,
        345575.4   ,   73181.41  ,   14247.372 ,   82418.7   ,
        233115.12  ,   88714.95  ,   21982.275 ,  209053.38  ,
        372128.34  ,  138875.19  ,   50786.125 ,  220724.05  ,
        545449.9   ,  202323.2   ,   -4855.576 ,  256017.47  ,
         31847.041 , 1305703.4   ,  -79420.125 ,   33436.17  ,
         26473.23  ,   10755.076 ,  834244.5   ,   86324.61  ,
        293054.2   ,   28732.615 ,   63243.105 ,   55284.48  ,
        124710.79  ,   60034.32  ,   95383.84  ,   70424.54  ,
        310189.3   ,   73308.39  ,  220170.94  ,   96477.82  ,
        109158.15  ,   94252.13  ,   89167.31  ,   65762.07  ,
        124668.45  ,  281834.6   ,  133072.5   ,   92853.055 ,
         34242.387 ,   32169.184 ,  372128.34  ,   18839.578 ,
        559311.5   ,  116573.92  ,  771662.2   ,   67831.87  ,
        626066.2   ,  108641.305 ,  102962.63  ,   74664.37  ,
        156267.1   ,  224864.16  ,  106359.76  ,  973716.1   ,
         58200.316 ,   76904.51  ,  127100.58  ,   95145.87  ,
        290216.5   ,  127944.64  ,  420086.12  ,   62040.863 ,
        -76863.086 ,   52489.707 ,  126562.766 ,   86104.61  ,
        474970.16  ,   73217.164 ,  282812.12  ,  310019.66  ,
        219576.64  ,  114559.59  ,  102338.85  ,   68212.39  ,
         38066.07  ,  101380.99  ,  162290.16  ,  149921.83  ,
        182606.78  ,   44956.836 ,  157373.81  ,   73308.39  ,
        247897.72  ,   21783.762 ,   44302.13  ,  127920.41  ,
         95145.87  ,  202264.78  ,  262556.28  ,   32922.28  ,
        279037.94  ,   51278.285 ,  120634.445 ,  183497.73  ,
         80126.05  ,   74205.445 ,   26553.1   ,   31045.725 ,
        138697.03  ,   69103.16  ,  113439.38  ,  188286.5   ,
         75185.54  ,   15737.11  ,   26939.955 ,  352872.66  ,
        307392.97  ,  420086.12  ,   73755.36  ,   99182.59  ,
         64615.906 ,   34465.746 ,  279752.1   ,   40997.75  ,
        393360.    ,   64159.348 ,   25143.37  ,  719056.44  ,
        210369.05  ,  824913.8   ,  313421.94  ,  613117.75  ,
         55478.316 ,  108509.67  ,   49287.887 ,  153398.33  ,
        278124.7   ,   42562.14  ,  146493.06  ,   85904.83  ,
         43940.21  ,   82882.96  ,  184159.42  ,   25143.37  ,
        118340.91  ,   29449.006 , 3149183.    ,  103902.055 ,
        135464.2   ,  135190.77  ,   99374.94  ,  125094.02  ,
         76075.73  ,  365488.44  ,   68837.5   ,  270272.9   ,
         83363.8   ,  412682.47  ,  489868.72  ,   66981.85  ,
        101703.16  ,   64840.438 ,   23011.342 ,   66759.12  ,
         85980.7   ,  158383.92  ,   36655.11  ,  160378.86  ,
       1154736.1   ,   70388.164 ,   96015.44  ,  182982.39  ,
         64345.215 ,  277411.5   ,  170204.61  ,   30956.303 ,
       1051590.4   ,  141410.03  ,   38379.824 ,  195030.92  ,
         97431.984 ,   19706.482 ,   40955.773 ,   39552.98  ,
         99778.32  ,  285369.5   , 1255703.1   ,  202323.2   ,
         26872.719 ,   87644.55  ,  268372.75  ,  366287.88  ,
        383793.28  ,  105055.766 ,   62040.863 ,  122868.97  ,
         11500.742 ,   86562.266 ,   29188.676 ,  250721.9   ,
         95808.516 ,   21982.275 ,  134872.89  ,  151918.66  ,
        110468.68  ,  112576.61  ,  134872.89  ,   36738.453 ,
        200803.1   ,   84669.83  ,   66430.17  ,   45699.85  ,
        376164.53  ,  150978.39  ,   31166.428 ,   16423.893 ,
        521303.1   ,  114276.26  ,  183241.78  ,  173901.75  ,
         77430.92  ,  268628.    ,  282090.88  ,  109300.24  ,
        116487.89  ,   52123.64  ,  100131.39  ,  112923.1   ,
        635160.06  ,  596738.1   ,  154481.81  ,   50080.31  ,
        420278.75  ,   59268.797 ,  144442.05  ,  424114.6   ,
         75687.016 ,  178825.23  ,  322948.3   ,   24869.879 ,
         58615.848 ,   33520.668 ,  286355.94  ,  242259.36  ,
        109314.1   ,   86014.85  ,   65510.312 ,   26929.01  ,
        356987.34  ,  138671.78  ,   17566.172 ,  116957.58  ,
         32848.785 ,  263157.03  ,   17670.406 ,   79756.82  ,
         21687.691 ,   17859.072 ,  132359.92  ,   80754.414 ,
         96216.27  ,  227086.61  ,  283430.72  ,   95706.01  ,
         70641.05  ,  314414.03  ,   26418.402 ,   94823.7   ,
         67049.55  ,   87658.15  ,  107808.375 ,   65762.07  ,
         94421.08  ,   20804.115 ,  117642.93  ,   21982.275 ,
        363770.12  ,  135132.11  ,   93639.234 ,   41988.61  ,
         33524.9   ,   44262.96  ,  145356.62  ,   54004.996 ,
       1203232.    ,   77302.31  ,   41074.46  ,  163191.64  ,
         21982.275 ,  268086.06  ,   74420.24  ,   78863.1   ,
         61039.664 ,   21982.275 ,   49128.13  ,  167077.02  ,
        464231.    ,  173809.03  ,  116573.92  ,   82418.7   ,
        341423.8   ,   39862.43  ,   32964.39  ,  259094.95  ,
        159532.53  ,  171828.05  ,   33394.594 ,  515832.72  ,
         45169.74  ,   95584.82  ,   24033.09  ,  273149.03  ,
         72028.445 ,  125981.44  ,  212787.89  ,  230112.56  ,
        370984.53  ,   55627.14  ,   27071.66  ,   87658.15  ,
        108953.33  ,   94410.17  ,   86135.195 ,   51931.06  ,
         -9917.147 ,   79387.27  ,   28473.367 ,  473185.25  ,
         42315.883 ,   63301.203 ,  282605.75  ,   74030.414 ,
         34816.625 ,   67831.87  ,   82924.75  ,  117419.414 ,
         46135.504 ,  119966.53  ,   70194.375 ,  183901.48  ,
         77248.59  ,   71802.17  ,   56191.508 ,  132920.94  ,
         56369.004 ,   21982.275 ,   76964.875 ,   29283.008 ,
        161521.27  ,  414719.2   ,  161408.73  ,  172181.19  ,
         36471.793 ,   92395.305 ,  314414.03  ,  487624.12  ,
        104663.22  ,   95145.87  ,   34820.83  ,  160618.5   ,
         76964.84  ,   27371.643 ,  294895.    ,   55487.65  ,
         67863.76  ,   89382.25  ,   55701.836 ,   89839.02  ,
         75485.39  ,  110468.68  ,  151060.44  ,  102351.68  ,
         23011.342 ,  480167.56  ,   32727.99  ,  130969.21  ,
         96770.48  ,  555875.8   ,  120927.75  ,  372128.34  ,
        137631.73  ,   58894.633 ,  266597.12  ,   22865.8   ,
         29820.553 ,   15451.325 ,   78380.47  ,   96365.07  ],
      dtype=float32)

In [26]:
model.score(X_train, y_train)

0.9813289615009807

## Accuracy is this low beacause of Address Frequency Encoding in future i ll be doing Address Encoding more Efficiently which will increase the Accuracy. beacuse of no of categorical values is high we cannot use one hot encoding which will lead to Curse of Dimensionality. More the Columns More The Accuracy will Get Reduced.

In [27]:
model.score(X_test, y_test)

0.7613857970363375